@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl");

@font-face {
  font-family: "Monument";
  src: local("Monument"),
    url("../../static/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  outline: none;
  color: #fff;
}

/* button {
  border: none;
  outline: none;
  text-align: center;
} */

img {
  width: 100%;
  height: auto;
}
